{
	admin off
	persist_config off
	auto_https off

	log {
		format json
		output stderr
		level DEBUG
	}

	frankenphp {
		num_threads 2
		max_threads 2
	}
}

:80 {
	root * /app/public

	encode zstd br gzip

	file_server {
		hide .git
		hide .env*
	}

	php_server
}
